nav a:hover{
  background-color:#c9ada7;
  color:#457b9d;
 }
 nav a:active{
 background-color:#e8e8e4;
  color:#f28482; 
 }

 nav a{
  text-decoration: none;
  margin: 20px;
  color: #333;
 
 }



#pic1{
  width:400px;
  float: left;
  margin: 10px;
  border: 7px double black;
}

.nav1{
 
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: 30px;
  background: #fec5bb;
  border: solid 5px #d8e2dc; 
  position: absolute;
  top: 5px;
  right: 2px;
  z-index: 4;
  overflow: scroll; 
  overflow-x: hidden;


} 

h1{
  text-align: center;
  font-size: 60px;
  position: relative;
  top:60px;
  padding: 30px 10px;
 margin: 0px;


  z-index: 1;
}

#intro1{
  text-align: left;
  font-size: 26px;
  box-shadow: 5px 10px #888888;
  background: #fcd5ce;

}

body{
  background-image: URL("https://wallpapercave.com/wp/wp7581332.png")
}

h2{
  text-align: center;
  color: black;
  font-size: 24px;

}

#foot{
  position: fixed;
  bottom: 5px;
  font-size: 18px;
  background: #fae1dd;
  box-shadow: 5px 10px #888888;

}